.wd-border {
   border: 1px solid rgba(0,0,0,.125);
}
.fa-inverse {
    color: black!important;
}
.wd-gray-color {
    /* color: rgb(110, 118, 125);*/
    color: lightgray!important;
}
.wd-more-icon {
    position: relative;
    top: 2px;
    left: -18px;
}
.wd-image-round {
    border-radius: 48px;
}
.wd-height {
    height: 100%;
}
.wd-width {
    width: 100%;
}
.wd-width-95 {
    width: 95%;
}
.wd-has-search .form-control {
    padding-left: 2.375rem;
}
.wd-gear-icon {
    color: #2a9fd6;
}
.wd-search-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wd-has-search .wd-form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.wd-d {
    display: inline-flex;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.wd-d-p-head {
    font-size: 13px;
    color: white;
    font-weight: bold;
}
.wd-d-p-body {
    color: white;
}
.wd-bold {
    font-weight: bold;
}
.wd-d-p-head wd-d-p-head-grey {
    font-weight: normal!important;
    color: rgb(110, 118, 125);
}
.wd-image {
    float: right;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.fab.fa-twitter {
    color: white;
}
.fa.fa-home {
    color: white;
}
.fa.fa-hashtag {
    color: white;
}
.fa.fa-bell {
    color: white;
}
.fa.fa-envelope {
    color: white;
}
.fa.fa-bookmark {
    color: white;
}
.fa.fa-list-ul {
    color: white;
}
.fa.fa-user {
    color: white;
}
.fa.fa-stack {
    color: white;
}
.fa.fa-circle {
    color: white;
}
